// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$background: #1e2e3e;
$background1: #263A4F;
$background2: #1A2736;